.block.custom-form {
    background-color: green;
    padding: 0 0 24px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  
  .block.custom-form form {
    margin: 16px;
    text-indent: 0;
  }
  
  .block.custom-form label {
    font-weight: bold;
  }
  
  .block.custom-form textarea {
    margin-bottom: 8px;
  }
  
  .block.custom-form input[type="text"] {
    margin-bottom: 8px;
  }
  
  .block.custom-form input[type="submit"] {
    margin-top: 8px;
  }
  
  .block.custom-form p {
    margin-top: 16px;
    font-size: small;
    font-style: italic;
  }
  
  .block.custom-form #response {
    margin-top: 16px;
    font-size: medium;
    font-weight: bold;
  }
  