.teaser__wrapper {
    text-align: center;
    background-color: #f5f5f5;
    position: relative;
  }
  
  .teaser__content {
    padding: 20px;
    text-align: left;
  }
  
  .teaser__content h2,
  .teaser__content h3,
  .teaser__content h4 {
    margin: 0;
    margin-bottom: 20px;
  }
  
  .teaser__content p {
    margin: 0;
    margin-bottom: 10px;
  }
  