.grey-bg {
    background-color: #f0f0f0; /* Example background color, adjust as needed */
    padding: 20px; /* Example padding, adjust as needed */
}

.grey-bg .dealer-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -12px;
    margin-right: -12px;
    align-items: stretch;
}

.grey-bg .dealer-menu li {
    width: 100%;
    margin-bottom: 10px !important;
}

.grey-bg .dealer-menu li a {
    display: flex;
    flex-direction: column; /* Changed from row to column */
    align-items: center;
    justify-content: start;
    padding: 1rem;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #fff;
    min-height: unset;
    height: 100%;
}

.grey-bg .dealer-menu li:nth-child(-n+4) {
    margin-bottom: unset;
}

.grey-bg .dealer-menu li a .d-grid-item {
    display: flex;
    flex-direction: column; /* Changed from row to column */
    text-align: center; /* Changed from left to center */
    max-width: 100%;
    align-items: center; /* Changed from center */
}

.grey-bg .dealer-menu li a .d-grid-item .d-grid-item-icon {
    width: 60px;
    height: 60px;
    background: rgba(241, 241, 241, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 12px;
    text-align: center;
    transition: all 0.3s ease;
    padding: 15px;
}

.grey-bg .dealer-menu li a .d-grid-item .d-grid-item-icon img {
    display: block;
    max-width: 100%;
}

.grey-bg .dealer-menu li a .d-grid-item .d-grid-item-title {
    font-size: 1rem;
    margin-top: 10px; /* Added margin-top to create space between image and title */
    color: #000000;
    font-weight: 500;
    line-height: 20px;
}

.grey-bg .dealer-menu li a:hover {
    background-color: #000000;
    color: #fff;
}

.grey-bg .dealer-menu li a:hover .d-grid-item .d-grid-item-icon {
    background-color: #fff !important;
}

.grey-bg .dealer-menu li a:hover .d-grid-item .d-grid-item-title {
    color: #fff;
}
